  <div>
    <ul class="breadcrumbs mb-0 mt-1 pl-10">
      <li><a>Investing Tools </a> > </li>
      <li><a> &nbsp; DRMR</a></li>
    </ul>
  </div>

  <div class="selectFilter mt-0 pt-2 pb-2 mb-3 row">

    <div class="col-sm-2 ml-3 pl-10">
      <select class="form-control" #route (change)="routeMe(route.value)">
        <option value="drmr">DRMR</option>
        <option value="simulator">Simulator</option>
        <option value="combinedEg">Combined Eg</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" #preference (change)="setPreference(preference.value)">
        <option value="allBankers">All Bankers</option>
        <option value="firstPreference">First preference</option>
        <option value="secondPreference">Second preference</option>
        <option value="thirdPreference">Third preference</option>
      </select>
    </div>

    <div class="col-sm-2">
        <i class="fa fa-search searchIcon" aria-hidden="true"></i>
        <input type="text" class="searchEg">
    </div>

  </div>

  <app-drmr></app-drmr>
